/**
 * The World - 3D Clouds Effect
 * Adapted from the CodePen "Clouds using CSS 3D Transforms" by Jaume Sanchez
 * https://codepen.io/spite/pen/DgQzLv
 */

#clouds-viewport {
	-webkit-perspective: 1000px; 
	-moz-perspective: 1000px; 
	-ms-perspective: 1000px; 
	-o-perspective: 1000px; 
	perspective: 1000px; 
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0; /* Changed */
	overflow: hidden;
    z-index: 1;
    /* Background is transparent, handled by the main theme engine */
}

#clouds-world {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -256px;
	margin-top: -256px;
	height: 512px;
	width: 512px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#clouds-world div {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

.cloudBase {
	position: absolute;
	left: 256px;
	top: 256px;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
}

.cloudLayer {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 256px;
	height: 256px;
	margin-left: -128px;
	margin-top: -128px;
	transition: opacity .5s ease-out, filter 2.5s ease-in-out;
	background-image: url('../assets/images/cloud.png');
	will-change: transform, opacity, filter; /* Performance Optimization */
}